*{
    margin: 0;
    padding: 0;
}
    body{
    background-color: rgba(211, 211, 211, 0.808);
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-size: 15px;

}

.container{
    max-width: 400px;
    margin: 0 auto;
}
.box{
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 18px;
    text-align: center;
    margin: 0 1em;
}
.box img{
    width: 100%;
    border-radius: 13px;

}
.test{
    padding: 22px 10px;
}
.test h2{
    color: hsl(218,44%,22%);
    padding-bottom: 15px;

}
.test p{
    color: hsla(220, 45%, 22%, 0.889);
}